.shopmaterial_container {
  /* width: 90%; */
  margin: 0 auto;
  overflow: hidden;
  /* background-color: #f0f0f0; */
  padding: 20px 0;
  box-sizing: border-box;
}
.shopmaterial_heading{
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  /* color: #333; */
  margin-bottom: 50px;
}
.shopmaterial_slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  /* background-color: #400e0e; */
  /* margin: 0 auto; */
  /* animation: scroll-left 20s linear infinite; */
}

.slider_card {
  min-width: 380px;
  height: 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.slider_card .material_heading{
  position: absolute;
  height: 50px;
  width: 100%;
  rotate: 90deg;
  right: -150px;
  top: 190px;
  color: #B1B3B7;
  font-size: 2.5rem;
  font-weight: normal;
  /* z-index: 100; */
}
.slider_card img {
  position: absolute;
  rotate: -90deg;
  /* width: 300px; */
  width: 200px;
  height:350px;
  right: 120px;
  bottom: -400px;
  /* bottom: -440px; */
  object-fit: cover;
  border-radius: 12px;
}

.slider_card button{
  display: flex; 
  align-items: center;
  justify-content: center; /* or space-between */
  gap: 8px;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.445);
  border-radius: 20px ;
  color: rgba(255, 255, 255, 0.797);
  padding: 10px 20px;
  position: absolute;
  bottom: 15px;
  font-weight: normal;
  cursor: pointer;
  img{
    width: 10px;
    height: 10px;
    margin-left: 10px;    
  }
  
}
.slider_card button:hover {
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* Animation keyframes
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} */
