
.sizeheading{
  /* background-color: #d38585; */
  text-align: center;
  padding-top: 20px;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 20px;
}
.sizerow1,.sizerow2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.sizerow1{
  margin-bottom: 20px;
}
.sizeimg{
  width: 195px;
  height: 240px;
  border:1px solid black;
}